{
  "root": true,
  "extends": ["@react-native-community", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "globals": {
    "AbortController": "readonly"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error"
  },
  "ignorePatterns": ["node_modules/", "lib/"]
}
